.git
.gitignore
.idea
.next
data
public/setup
public/yourPictures
extensions/*
!extensions/.placeExtensionFolderHere
node_modules
npm-debug.log*
docker-compose*.yml
.env
.env.*
!.env.example
README.md
todo.md
qodana.yaml
lighthouse-seo.json
tsconfig.tsbuildinfo
